.main__wrapper-account__logo {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}

.main__wrapper--navigation--block-3>.main__wrapper--navigation--block-3--ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 16px;
}

.main__wrapper--navigation--block-3>.main__wrapper--navigation--block-3--ul .main__wrapper--navigation--block-3--ul--li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 8px;
    width: 80px;
    background: #393953;
    border-radius: 100px
}

.main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block {
    display: flex;
}

.main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block>div {
    max-width: 460px;
    min-height: 560px;
    justify-content: center;
    padding: 0px;
    background: #393953;
    border-radius: 16px;
    margin: 296px auto 0 auto;
    justify-content: center;
}

.main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block>div>div>p:nth-child(even) {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: -0.011em;
    margin-left: 10px;
}

.main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block>div>div>p:nth-child(odd) {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #A59EBA;
    margin-left: 10px;
}

.main__wrapper--rewards-grants--profile .main__wrapper--rewards-grants--block h3 {
    margin-left: 10px;
}

.main__wrapper--projects-built-with-grants--h3 {
    margin-top: 50px;
}

html {
    height: 100%;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    transform: scale(1.1);
    position: relative;
    margin-top: 750px;
    margin-bottom: 50px;
}

.logo-profile {
    display: flex;
    position: absolute;
    margin-top: 400px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #6966FF;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #6966FF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: var(--background-primary);
}

.login-box button:hover {
    background: #6966FF;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #6966FF, 0 0 25px #6966FF, 0 0 50px #6966FF, 0 0 100px #6966FF;
}

.login-box button span {
    position: absolute;
    display: block;
}

.profile {
    margin: 0 auto;
}


.main__wrapper--projects-built-with-grants--h3 {
    margin: 20px auto;
    margin-left: 40px;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

@media screen and (max-width:600px) {
    .login-box {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 950px) {
    .main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block {
        flex-flow: column;
    }
    .main>.main__wrapper>.main__wrapper--rewards-grants--profile>.main__wrapper--rewards-grants--block>div:last-child {
        margin-top: 25px;
    }
    @media screen and (max-width: 668px) {
        .main__wrapper--navigation--block-3>.main__wrapper--navigation--block-3--ul .main__wrapper--navigation--block-3--ul--li {
            width: 50px;
        }
        @media screen and (max-width: 512px) {
            .main__wrapper--navigation--block-3>.main__wrapper--navigation--block-3--ul .main__wrapper--navigation--block-3--ul--li {
                width: 35px;
                padding: 8px;
            }
        }
    }
}