<!DOCTYPE html>
<html lang="en">
    <head class="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/faq.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title class="title">dXdY : main</title>
    </head>
    <body id="b" class="body">
        <header id="h" class="header">
            <div class="header__wrapper">
                <div class="header__wrapper--block-1">
                    <a href="{% url 'main' %}">
                        <img class="header__wrapper--block-1--logo" src="{% static 'photos/Logo.svg' %}" alt="logo">
                    </a>
                </div>
                <div class="header__wrapper--block-2">
                    <nav class="header__wrapper--block-2--nav-bar">
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'faq' %}" title="Discover initiatives">FAQ</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'login' %}" title="Funded grants">Login</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'blog' %}" title="Program expenses">Blog</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'registration' %}" title="apply for grant">Apply for grant</a>
                    </nav>
                </div>
            </div>
            <div class="header__wrapper--mobile">
                <div class="header__wrapper--mobile--block">
                    <a class="header__wrapper--mobile--block--main-link" href="{% url 'main' %}">
                        <img class="header__wrapper--block-1--logo" src="{% static 'photos/Logo.svg' %}" alt="logo">
                    </a>
                </div>
                <a class="header__wrapper--mobile--applybtn" title="apply for grant" href="{% url 'registration' %}">Apply for grant</a>
                <div id="navbar" class="header__wrapper--mobile--overlay">
                    <a class="header__wrapper--mobile--overlay--closebtn" href="" title="hamburger" onclick="closeNavBar()">&times;</a>
                    <div class="header__wrapper--mobile--overlay--content-list">
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'faq' %}">FAQ</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'login' %}">Login</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'blog' %}">Blog</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'registration' %}">Apply for grant</a>
                    </div>
                </div>
                <span class="header__wrapper--mobile--span" onclick="openNavBar()">&#9776;</span>
            </div>
        </header>
        <main id="m" class="main">
            <div class="main__wrapper">
                <div class="main__wrapper--frequently-asked-questions">
                    <h4 class="main__wrapper--frequently-asked-questions--h4">Frequently asked questions</h4>
                    <p class="main__wrapper--frequently-asked-questions--p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla risus, consectetur ut bibendum non, gravida non libero.</p>
                </div>
                <div class="main__wrapper--frequently-asked-questions-list">
                    <div class="main__wrapper--frequently-asked-questions-list--block-0" name="hidden block"></div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-1">
                        <p class="main__wrapper--frequently-asked-questions-list--block-1--p">How do I apply?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-1--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-2">
                        <p class="main__wrapper--frequently-asked-questions-list--block-2--p">Can I apply as a U.S. based person/company?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-2--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-3">
                        <p class="main__wrapper--frequently-asked-questions-list--block-3--p">How will I be compensated?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-3--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-4">
                        <p class="main__wrapper--frequently-asked-questions-list--block-4--p">What type of project will qualify for a Grant?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-4--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-5">
                        <p class="main__wrapper--frequently-asked-questions-list--block-5--p">What is the application timeline? When can I expect to hear back?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-5--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-6">
                        <p class="main__wrapper--frequently-asked-questions-list--block-6--p">How can I increase my chances of getting funded?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-6--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">How often do you approve new Rounds of funding?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What is the dYdX Grants Trust?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Where are funds held?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">When was the program launched?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Who are the Trustees?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What and who is the Enforcer?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What is the dYdX Grants Trust?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Where are funds held?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">When was the program launched?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Who are the Trustees?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What and who is the Enforcer?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-3">
                        <p class="main__wrapper--frequently-asked-questions-list--block-3--p">How will I be compensated?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-3--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-4">
                        <p class="main__wrapper--frequently-asked-questions-list--block-4--p">What type of project will qualify for a Grant?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-4--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-5">
                        <p class="main__wrapper--frequently-asked-questions-list--block-5--p">What is the application timeline? When can I expect to hear back?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-5--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-6">
                        <p class="main__wrapper--frequently-asked-questions-list--block-6--p">How can I increase my chances of getting funded?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-6--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">How often do you approve new Rounds of funding?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What is the dYdX Grants Trust?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Where are funds held?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">When was the program launched?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">Who are the Trustees?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What and who is the Enforcer?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                    <div class="main__wrapper--frequently-asked-questions-list--block-7">
                        <p class="main__wrapper--frequently-asked-questions-list--block-7--p">What is the dYdX Grants Trust?</p>
                        <button class="main__wrapper--frequently-asked-questions-list--block-7--btn-add" type="button" title="add"></button>
                    </div>
                </div>
            </div>
        </main>
        <footer id="f" class="footer">
            <div class="footer__wrapper">
                <div class="footer__wrapper--project-plan-in-mind">
                    <div class="footer__wrapper--project-plan-in-mind--block">
                        <p class="footer__wrapper--project-plan-in-mind--block--p">Have a project in mind?</p>
                        <h4 class="footer__wrapper--project-plan-in-mind--block--h4">Let's create something awesome.</h4>
                        <a class="footer__wrapper--project-plan-in-mind--block--button" title="apply for grant" href="{% url 'registration' %}">Apply for grant</a>
                    </div>
                </div>
                <div class="footer__wrapper--navigation">
                    <div class="footer__wrapper--navigation--block-1">
                        <a href="{% url 'main' %}" title="main page">
                            <img src="{% static 'photos/footer_logo.svg' %}" alt="footer logo">
                        </a>
                    </div>
                    <div class="footer__wrapper--navigation--block-2">
                        <ul class="footer__wrapper--navigation--block-2--ol">
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'faq' %}" title="FAQ">FAQ</a></li>
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'login' %}" title="Login">Login</a></li>
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'blog' %}" title="Blog">Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer__wrapper--navigation--block-3">
                        <ul class="footer__wrapper--navigation--block-3--ul">
                            <li class="footer__wrapper--navigation--block-3--ul--li"><a class="footer__wrapper--navigation--block-3--ul--li--a" href="https://www.twitter.com"><img src="{% static 'photos/Twitter - Negative.svg' %}" title="Twitter"></a></li>
                            <li class="footer__wrapper--navigation--block-3--ul--li"><a class="footer__wrapper--navigation--block-3--ul--li--a" href="https://www.discord.com"><img src="{% static 'photos/Discord - Negative.svg' %}" title="Discord"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>