<!DOCTYPE html>
<html lang="en">
    <head class="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title class="title">dXdY : main</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootsrap.css' %}">
    </head>
    <body id="b" class="body">
        <header id="h" class="header">
            <div class="header__wrapper">
                <div class="header__wrapper--block-1">
                    <a href="{% url 'main' %}">
                        <img class="header__wrapper--block-1--logo" src="{% static 'photos/Logo.svg' %}" alt="logo">
                    </a>
                </div>
                <div class="header__wrapper--block-2">
                    <nav class="header__wrapper--block-2--nav-bar">
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'faq' %}" title="Discover initiatives">FAQ</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'login' %}" title="Funded grants">Login</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'blog' %}" title="Program expenses">Blog</a>
                        <a class="header__wrapper--block-2--nav-bar--link" href="{% url 'registration' %}" title="apply for grant">Apply for grant</a>
                    </nav>
                </div>
            </div>
            <div class="header__wrapper--mobile">
                <div class="header__wrapper--mobile--block">
                    <a class="header__wrapper--mobile--block--main-link" href="{% url 'main' %}">
                        <img class="header__wrapper--block-1--logo" src="{% static 'photos/Logo.svg' %}" alt="logo">
                    </a>
                </div>
                <a class="header__wrapper--mobile--applybtn" title="apply for grant" href="{% url 'registration' %}">Apply for grant</a>
                <div id="navbar" class="header__wrapper--mobile--overlay">
                    <a class="header__wrapper--mobile--overlay--closebtn" href="" title="hamburger" onclick="closeNavBar()">&times;</a>
                    <div class="header__wrapper--mobile--overlay--content-list">
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'faq' %}">FAQ</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'login' %}">Login</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'blog' %}">Blog</a>
                        <a class="header__wrapper--mobile--overlay--content-list--links" href="{% url 'registration' %}">Apply for grant</a>
                    </div>
                </div>
                <span class="header__wrapper--mobile--span" onclick="openNavBar()">&#9776;</span>
            </div>
        </header>
        <main id="m" class="main">
            <div class="main__wrapper">
                <div class="main__wrapper--funding-round">
                    <div class="main__wrapper--funding-round--block-1">
                        <div class="main__wrapper--funding-round--block-1--content">
                            <p class="main__wrapper--funding-round--block-1--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-1--h3">Round 9 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                    <div class="main__wrapper--funding-round--block-2">
                        <div class="main__wrapper--funding-round--block-2--content">
                            <p class="main__wrapper--funding-round--block-2--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-2--h3">Round 8 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="main__wrapper">
                <div class="main__wrapper--funding-round">
                    <div class="main__wrapper--funding-round--block-1">
                        <div class="main__wrapper--funding-round--block-1--content">
                            <p class="main__wrapper--funding-round--block-1--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-1--h3">Round 7 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                    <div class="main__wrapper--funding-round--block-2">
                        <div class="main__wrapper--funding-round--block-2--content">
                            <p class="main__wrapper--funding-round--block-2--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-2--h3">Round 6 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="main__wrapper">
                <div class="main__wrapper--funding-round">
                    <div class="main__wrapper--funding-round--block-1">
                        <div class="main__wrapper--funding-round--block-1--content">
                            <p class="main__wrapper--funding-round--block-1--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-1--h3">Round 5 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                    <div class="main__wrapper--funding-round--block-2">
                        <div class="main__wrapper--funding-round--block-2--content">
                            <p class="main__wrapper--funding-round--block-2--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-2--h3">Round 4 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="main__wrapper">
                <div class="main__wrapper--funding-round">
                    <div class="main__wrapper--funding-round--block-1">
                        <div class="main__wrapper--funding-round--block-1--content">
                            <p class="main__wrapper--funding-round--block-1--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-1--h3">Round 3 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                    <div class="main__wrapper--funding-round--block-2">
                        <div class="main__wrapper--funding-round--block-2--content">
                            <p class="main__wrapper--funding-round--block-2--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-2--h3">Round 2 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="main__wrapper">
                <div class="main__wrapper--funding-round">
                    <div class="main__wrapper--funding-round--block-1">
                        <div class="main__wrapper--funding-round--block-1--content">
                            <p class="main__wrapper--funding-round--block-1--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-1--h3">Round 1 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                    <div class="main__wrapper--funding-round--block-2">
                        <div class="main__wrapper--funding-round--block-2--content">
                            <p class="main__wrapper--funding-round--block-2--p1">Funding round</p>
                            <h3 class="main__wrapper--funding-round--block-2--h3">Round 1 of approvals</h3>
                            <p class="main__wrapper--funding-round--block--p2">January 1, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer id="f" class="footer">
            <div class="footer__wrapper">
                <div class="footer__wrapper--project-plan-in-mind">
                    <div class="footer__wrapper--project-plan-in-mind--block">
                        <p class="footer__wrapper--project-plan-in-mind--block--p">Have a project in mind?</p>
                        <h4 class="footer__wrapper--project-plan-in-mind--block--h4">Let's create something awesome.</h4>
                        <a class="footer__wrapper--project-plan-in-mind--block--button" title="apply for grant" href="{% url 'registration' %}">Apply for grant</a>
                    </div>
                </div>
                <div class="footer__wrapper--navigation">
                    <div class="footer__wrapper--navigation--block-1">
                        <a href="{% url 'main' %}" title="main page">
                            <img src="{% static 'photos/footer_logo.svg' %}" alt="footer logo">
                        </a>
                    </div>
                    <div class="footer__wrapper--navigation--block-2">
                        <ul class="footer__wrapper--navigation--block-2--ol">
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'faq' %}" title="FAQ">FAQ</a></li>
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'login' %}" title="Login">Login</a></li>
                            <li class="footer__wrapper--navigation--block-2--ol--li"><a href="{% url 'blog' %}" title="Blog">Blog</a></li>
                        </ul>
                    </div>
                    <div class="footer__wrapper--navigation--block-3">
                        <ul class="footer__wrapper--navigation--block-3--ul">
                            <li class="footer__wrapper--navigation--block-3--ul--li"><a class="footer__wrapper--navigation--block-3--ul--li--a" href="https://www.twitter.com"><img src="{% static 'photos/Twitter - Negative.svg' %}" title="Twitter"></a></li>
                            <li class="footer__wrapper--navigation--block-3--ul--li"><a class="footer__wrapper--navigation--block-3--ul--li--a" href="https://www.discord.com"><img src="{% static 'photos/Discord - Negative.svg' %}" title="Discord"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>